@media screen and (min-width: 320px) {
  .current-link {
    font-family: var(--font-general);
    color: var(--hover-color);

    .mobile-menu & {
      font-size: 24px;
      line-height: 28px;
    }
  }
}
@media screen and (min-width: 480px) {
  .current-link {
    font-family: var(--font-general);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--hover-color);
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -29px;
      width: 100%;
      height: 4px;
      display: block;
      background-color: var(--hover-color);
      border-radius: 2px;
      transition: var(--animation);
    }
    .mobile-menu & {
      font-size: 40px;
      line-height: 47px;
      &::after {
        display: none;
      }
    }
  }
}
